__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.git/
.github/
.vscode/
data/raw/*
!data/raw/sample.csv
experiments/*
models/saved/*
.ipynb_checkpoints/
